.table {
    border-collapse: collapse;
    border: 1px solid black;
}

.tdtrtable {
    border-collapse: collapse; 
    border: none;
}

.tdtrtable tr td {
    border: 1px solid black;
    height:25px;
    text-align:center; 
}

.cellborder{
border: 1px solid black;
}

#map{
 width:800px;
 height: 400px;
 background-color:grey;
} 

.button{
width:150px;
}

#graph{
 width:200px;
 height:200px;
 background-color:grey;
}     

#tablediv{
 width:800px;
 height: 230px;    
}

#tablediv1{
 width:380px;
 height: 230px;
 float:left;
 border-style: solid;
 border-width: 1px;
}

#tablediv2{
 width:380px;
 height: 230px;
 float:left;
 border-style: solid;
 border-width: 1px;
}

#gapdiv{
 width:20px;
 height: 180px;
 float:left;
}